<template x-component="menu-bar">
    <div class="navbar bg-primary-content h-[9vh]">

        <div class="navbar-start">
            <div class="dropdown">

                <div  class="tooltip tooltip-bottom"
                      data-tip="menu">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                    </div>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a @click="projectModal = true">Open project</a></li>
                    <li :class="offline ? 'disabled' : ''"><a @click="newProjectModal = true">Start new project</a></li>
                    <li :class="offline || !sessionStorage.project_url ? 'disabled' : ''"><a @click="force_pull">Fresh checkout repository</a></li>
                    <li><a @click="Draftsman.signOut">Sign out</a></li>
                </ul>
                <dialog x-show="projectModal" x-cloak x-transition class="modal modal-open">
                    <div class="modal-box">
                        <form method="dialog">
                            <button @click="projectModal = false" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="font-bold text-lg">Open project</h3>
                        <p class="py-4">
                        <ul class="menu bg-base-200 rounded-box">
                            <template x-for="project in projects" :key="project.drn">
                                <li :class="offline && !project.available ? 'disabled' : ''">
                                    <a :drn="project.drn" @click="open_project" x-show="!offline || project.available">
                                        <span x-text="project.name"></span>
                                        <div x-show="!offline" x-cloak x-transition class="badge badge-ghost" x-text="project.workspace"></div>
                                        <div x-show="offline && project.available" x-cloak x-transition class="badge badge-warning">Model may be outdated; you are offline.</div>
                                    </a>
                                    <a x-show="offline && !project.available">
                                        <span x-text="project.name"></span>
                                        <div class="badge badge-error">no local copy</div>
                                    </a>
                                </li>
                            </template>
                        </ul>
                        </p>
                    </div>
                </dialog>
                <dialog x-show="newProjectModal" x-cloak x-transition
                        class="modal modal-open">
                    <div class="modal-box w-11/12 max-w-5xl">
                        <form method="dialog">
                            <button @click="newProjectModal = false" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="font-bold text-lg">Start new project</h3>
                        <p class="py-4">
                            <table class="table">
                                <tr>
                                    <th scope="row">Workspace</th>
                                    <td>
                                        <select class="select select-bordered w-full max-w-xs" x-model="newProject.workspaceDrn">
                                            <option></option>
                                            <template x-for="workspace in raw_data.workspace" :key="workspace.drn">
                                                <option :value="workspace.drn" x-text="workspace.name"
                                                        :selected="newProject.workspaceDrn == workspace.drn"></option>
                                            </template>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Project name</th>
                                    <td>
                                        <input type="text"
                                               x-model="newProject.name"
                                               x-data="inputValidator"
                                               @input="pascal_cased"
                                               @focusout="prepare_repos"
                                               placeholder="ProjectName"
                                               class="input w-full max-w-xs" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Github account</th>
                                    <td>
                                        <input type="text"
                                               x-model="githubAccount"
                                               x-data="inputValidator"
                                               @input="github_account"
                                               @focusout="prepare_repos"
                                               placeholder="dummyaccount"
                                               class="input w-full max-w-xs" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Model Repository</th>
                                    <td>
                                        <input type="text"
                                               x-model="newProject.modelRepo"
                                               x-data="inputValidator"
                                               @input="github_repo_url"
                                               placeholder="https://github.com/username/repository"
                                               class="input w-full" />
                                        <button :repo="newProject.modelRepo"
                                                @click="create_repo"
                                                class="btn btn-outline btn-primary btn-xs ml-4">Create repository</button>
                                        <button :repo="newProject.modelRepo"
                                                @click="invite_draftsman"
                                                class="btn btn-outline btn-primary btn-xs">
                                            make sure the <i>draftsman-io</i> user is invited to have write access
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Code Repository</th>
                                    <td>
                                        <input type="text"
                                               x-model="newProject.codeRepo"
                                               x-data="inputValidator"
                                               @input="github_repo_url"
                                               placeholder="https://github.com/username/repository"
                                               class="input w-full" />
                                        <button :repo="newProject.codeRepo"
                                                @click="create_repo"
                                                class="btn btn-outline btn-primary btn-xs ml-4">Create repository</button>
                                        <button :repo="newProject.codeRepo"
                                                @click="invite_draftsman"
                                                class="btn btn-outline btn-primary btn-xs">
                                            make sure the <i>draftsman-io</i> user is invited to have write access
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">GUI Repository (beta)</th>
                                    <td>
                                        <input type="text"
                                               x-model="newProject.guiRepo"
                                               x-data="inputValidator"
                                               @input="github_repo_url"
                                               placeholder="https://github.com/username/repository"
                                               class="input w-full" />
                                        <button :repo="newProject.guiRepo"
                                                @click="create_repo"
                                                class="btn btn-outline btn-primary btn-xs ml-4">Create repository</button>
                                        <button :repo="newProject.guiRepo"
                                                @click="invite_draftsman"
                                                class="btn btn-outline btn-primary btn-xs">
                                            make sure the <i>draftsman-io</i> user is invited to have write access
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        <button class="btn btn-outline btn-primary mt-5 btn-block"
                                @click="start_new_project">Start project</button>
                        </p>
                    </div>
                </dialog>
                <dialog x-show="profileModal" x-cloak x-transition class="modal modal-open">
                    <div class="modal-box">
                        <h3 class="text-lg font-bold">Looks like you are here for the first time...</h3>
                        <p class="py-4">

                            <label class="input input-bordered flex items-center gap-2">
                                Choose a screen name
                                <input type="text" class="grow" placeholder="John Doe" x-model="fullName"/>
                            </label>
                            <small>After you tell us your name, we will create a personal workspace for you.
                                You will need to sign-in again.</small>
                            <button class="btn btn-outline btn-primary mt-5 btn-block"
                                    @click="create_user">Save</button>
                        </p>
                    </div>
                </dialog>
            </div>
            <button x-show="deferredInstallPrompt" x-cloak x-transition
                    @click="install"
                    class="btn btn-outline btn-primary mr-5">Install app</button>
            <a href="https://github.com/tracepaperapp/tracepaperapp.github.io/discussions"
               target="_blank"
               class="btn btn-outline btn-primary">
                <i class="fas fa-comments mr-2"></i> Ask or share
            </a>
        </div>

        <div class="navbar-center">
            <a class="btn btn-ghost text-xl" x-text="sessionStorage.project_name"></a>
            <i class="fa-solid fa-rotate cursor-pointer" @click="location.reload()"></i>
        </div>

        <div class="navbar-end" x-data="sourceManagement">
            <template x-if="!window.chrome">
                <div class="link" style="color: red;">A <a href="https://en.wikipedia.org/wiki/Chromium_(web_browser)" target="_blank">chromium based browser is recommended!</div>
            </template>

            <div x-import="model-wizard">
                <ui-model-wizard></ui-model-wizard>
            </div>
            <div x-show="changes.length" x-cloak x-transition class="relative inline-block">
                <button @click="start_commit" class="btn btn-circle btn-outline btn-success mr-2">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                </button>
                <span x-text="changes.length"
                      class="absolute top-0 right-0 inline-block px-2 py-1 text-xs font-bold leading-none text-white bg-red-600 rounded-full">
                </span>
                <dialog x-show="commitModal" x-cloak x-transition class="modal modal-open">
                    <div class="modal-box  w-11/12 max-w-5xl">
                        <form method="dialog">
                            <button @click="commitModal = false" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="font-bold text-lg">Commit changes</h3>
                        <div class="flex gap-4 mt-2" x-show="diff.file" x-cloak x-transition>
                            <!-- Local File Column -->
                            <div class="w-1/2">
                                <h3 class="text-lg font-bold">Local File</h3>
                                <div class="p-4 border border-primary rounded-lg">
                                    <pre class="whitespace-pre-wrap bg-gray-100 p-4 rounded-md" x-html="diff.local"></pre>
                                </div>
                            </div>

                            <!-- Remote File Column -->
                            <div class="w-1/2">
                                <h3 class="text-lg font-bold">Remote File</h3>
                                <div class="p-4 border border-primary rounded-lg">
                                    <pre class="whitespace-pre-wrap bg-gray-100 p-4 rounded-md" x-html="diff.remote"></pre>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-sm font-bold text-gray-400 mt-5">Changed files</h6>
                        <table class="table">
                            <template x-for="change in changes" :key="change.filePath">
                                <tr class="border-t">
                                    <th scope="row" x-text="change.status"></th>
                                    <td x-text="change.filePath"></td>
                                    <td>
                                        <button :file="change.filePath"
                                                x-show="change.hasConflict" x-cloak x-transition
                                                class="btn btn-sm btn-error"
                                                :class="diff.file == change.filePath ? '' : 'btn-outline'"
                                                @click="compare_diff">Conflicted</button>
                                    </td>
                                    <td>
                                        <button :file="change.filePath"
                                                x-show="change.hasConflict" x-cloak x-transition
                                                :class="force.includes(change.filePath) ? 'btn btn-success btn-sm' : 'btn btn-outline btn-success btn-sm'"
                                                @click="accept_mine">Accept mine</button>
                                    </td>
                                    <td>
                                        <div class="tooltip tooltip-bottom" data-tip="Revert local changes">
                                            <button :file="change.filePath"
                                                    @click="revert_file"
                                                    class="btn btn-sm btn-outline btn-accent">
                                                <i class="fa-solid fa-clock-rotate-left"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                            <tr class="border-t">
                                <td colspan="4"></td>
                                <td>
                                    <div class="tooltip tooltip-bottom" data-tip="Revert local changes">
                                        <button @click="revert_all"
                                                class="btn btn-sm btn-outline btn-error">
                                            <i class="fa-solid fa-clock-rotate-left"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <textarea class="textarea textarea-bordered w-full mt-3"
                                  x-model="commitMessage" placeholder="Enter commit message"></textarea>
                        <div class="modal-action">
                            <button class="btn" @click="commitModal = false">Cancel</button>
                            <button class="btn btn-primary"
                                    :disabled="commitMessage == '' || !readyToCommit"
                                    @click="commit_changes">Commit</button>
                        </div>
                    </div>
                </dialog>
            </div>

            <div x-show="issues.length" x-cloak x-transition class="relative inline-block">
                <button @click="issuesView = true" class="btn btn-circle btn-outline btn-error m-2">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </button>
                <span x-text="issues.length"
                      class="absolute top-0 right-0 inline-block px-2 py-1 text-xs font-bold leading-none text-white bg-red-600 rounded-full">
                </span>
                <dialog x-show="issuesView" x-cloak x-transition class="modal modal-open">
                    <div class="modal-box  w-11/12 max-w-5xl">
                        <form method="dialog">
                            <button @click="issuesView = false" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="font-bold text-lg">Model issues</h3>
                        <p class="py-4">
                        <table class="table">
                            <template x-for="issue in issues">
                                <tr class="cursor-pointer border-b" :navigation="issue.filePath" @click="navigate">
                                    <th scope="row" :navigation="issue.filePath" x-text="get_name"></th>
                                    <td x-text="issue.type"></td>
                                    <td x-text="issue.message"></td>
                                </tr>
                            </template>
                        </table>
                        </p>
                    </div>
                </dialog>
            </div>

            <div x-show="builds.length" x-cloak x-transition class="relative inline-block">
                <button @click="buildView = true" class="btn btn-circle btn-outline btn-primary m-2">
                    <i class="fa-solid fa-list"></i>
                </button>
                <dialog x-show="buildView" x-cloak x-transition class="modal modal-open">
                    <div class="modal-box  w-11/12 max-w-5xl">
                        <form method="dialog">
                            <button @click="buildView = false" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="font-bold text-lg">Builds</h3>
                        <p class="py-4">
                        <table class="table">
                            <template x-for="build in builds">
                                <tr class="cursor-pointer border-b hover" @click.debounce="window.open('/build-log.html?drn=' + build.drn, '_blank')">
                                    <th scope="row" x-text="build.drn"></th>
                                    <td x-text="build.status"></td>
                                    <td x-text="luxon.DateTime.fromMillis(Number(build.lastEvent)*1000).toRelative()"></td>
                                </tr>
                            </template>
                        </table>
                        </p>
                    </div>
                </dialog>
            </div>

            <div class="ml-1">
                <small x-show="offline" x-cloak x-transition><div class="badge badge-error badge-outline">No internet connection!</div><br></small>
                <small x-show="last_build" x-cloak x-transition><div class="badge badge-info badge-outline cursor-pointer" @click="open_last_build">Deployment started...</div><br></small>
                <small x-show="last_pull && !offline" x-cloak x-transition>Last&nbsp;pulled: <span x-text="last_pull"></span></small><br>
                <small x-show="commit_diff.remoteAhead" x-cloak x-transition><span x-text="commit_diff.remoteAhead"></span>
                commits behind remote</small>
            </div>
        </div>

    </div>
</template>